@use "variables" as *;
$checkout-Btn-Bg: #6f7f3a;
$checkout-text: #2d221e;
$checkout-Btn-Hover: #515d2a;
$hover-text: #faf8f4;

.checkout-btn {
    margin-top: 1.5rem;
    padding: 1rem 2rem;
    width: 100%;
    background-color: $checkout-Btn-Bg;
    color: $checkout-text;
    border: none;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .35);
}

.checkout-btn:hover {
    background-color: $checkout-Btn-Hover;
    color: $hover-text;
    transform: translateY(-1px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .4);
}

.clear-btn {
    background-color: transparent;
    width: 100%;
    margin-top: .75rem;
    padding: 1rem 2rem;
    color: $checkout-text;
    border: 1px solid $checkout-Btn-Bg;
    border-radius: 999px;
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s ease;
}

.clear-btn:hover {
    background-color: tomato;
    color: $checkout-text;
}
