@use "variables" as *;

.cookie-overlay {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background: $overlay;

  .cookie {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    height: 300px;
    width: 500px;
    background-color: $cart_bg_color;
    padding: $padding-md;
    border-radius: 10px;
    box-shadow: $box-shadow;

    header {
      display: flex;
      gap: $padding-md;

      h1 {
        font-size: 1.5em;
      }

      img {
        width: 2rem;
      }
    }

    .cookieButtons {
      display: flex;
      gap: $padding-sm;
      justify-content: flex-end;
      align-items: flex-end;
      padding-right: $padding-md;
      margin-top: $margin-lg;

      .acceptBtn {
        width: 180px;
        height: 30px;
        background-color: $primary_button_bg;
        border-radius: 50px;
        border: none;
        box-shadow: $box-shadow;
        transition: $transition;

        &:hover {
          background-color: $primary_button_hover;
          color: $bg_color;
          box-shadow: $box-shadow, $inset;
        }
      }

      .declineBtn {
        width: 100px;
        height: 30px;
        background-color: $secondary_button_bg;
        border-radius: 50px;
        border: none;
        box-shadow: $box-shadow;
        transition: $transition;

        &:hover {
          background-color: $secondary_button_hover;
          color: $bg_color;
          box-shadow: $box-shadow, $inset;
        }
      }
    }
  }
}

@media screen and (max-width: $tablet_breakpoint) {
  .cookie-overlay {
    .cookie {
      width: 300px;
      height: 280px;

      header h1 {
        font-size: 1em;
      }

      header img {
        width: 1.5em;
      }

      p {
        font-size: 0.8em;
      }

      .cookieButtons {
        padding-right: 0;
      }
    }
  }
}
