@use "variables" as *;

footer {
  background-color: #2d221e;

  .container {
    padding: $padding-md;
    display: flex;
    flex-direction: column;

    .logoContainer {
      display: flex;
      justify-content: center;
    }

    .linksContainer {
      display: flex;
      justify-content: center;

      .links {
        display: flex;
        flex-direction: column;
        gap: $margin-md;
        margin-top: $margin-lg;
        margin-bottom: $margin-lg;
        padding: 0;
        li {
          list-style: none;
          color: white;
        }
      }
    }

    .socialLinksContainer {
      display: flex;
      justify-content: center;
    }
  }

  @media screen and (min-width: $tablet_breakpoint) {
    .container {
      flex-direction: row;

      .logoContainer {
        width: 50%;
        border-right: 1px solid white;

        img {
          height: 50%;
        }
      }

      .linksContainer {
        width: 25%;
      }

      .socialLinksContainer {
        width: 25%;
        align-items: flex-end;

        .socialLinks {
          padding-top: $padding-md;
          border-top: 1px solid white;
        }
      }
    }
  }
}
