@use "variables" as *;

.mainContent {
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 60px;
}

#popular-products {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: $margin-md;
  margin-top: 8rem;
}

#products {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productCard {
  width: 260px;
}
.productImg {
  display: flex;
  margin: 0 auto;
  width: 260px;
  height: 250px;
  background-color: $img_backdrop;
  border-radius: 5px;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: $padding-sm;
  gap: 10px;
}

.cartBtn {
  background-color: $primary_button_bg;
  box-shadow: $box-shadow;
  border-radius: 5px;
  bottom: -4rem;
  right: 10px;
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;

  .icon {
    width: 38px;
    height: 38px;
  }

  &:hover {
    background-color: $primary_button_hover;
    box-shadow: $box-shadow, $inset;
  }
}

.productInfo {
  margin-left: $margin-sm;

  .coffeeTitle {
    text-transform: uppercase;
    font-size: 1.1em;
  }

  .coffeePrice {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: $margin-xlg;

  .viewProductsBtn {
    width: 180px;
    height: 40px;
    background-color: $primary_button_bg;
    color: $primary;
    text-decoration: none;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    transition: $transition;
    box-shadow: $box-shadow;
    cursor: pointer;

    &:hover {
      background-color: $primary_button_hover;
      color: $bg_color;
      box-shadow: $box-shadow, $inset;
    }
  }
}
