@use "variables" as *;
$radius: 10px;

*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: $primary;
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.header-logo {
  display: block;

  img {
    height: 38px;
    display: block;
  }
}

.search {
  margin: 0;
  justify-self: center;
  width: 320px;
  max-width: 100%;
  position: relative;
}

.search input {
  width: 100%;
  height: 40px;
  padding: 0 44px 0 16px;
  border-radius: $radius;
  border: none;
  outline: none;
  background: $bg_color;
  color: $primary;
  opacity: 50%;

  &:hover,
  &:focus {
    opacity: 70%;
  }

  &::placeholder {
    color: $primary;
  }
}

.searchBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search button img {
  width: 25px;
  height: 25px;
  display: block;
}

.cart {
  justify-self: end;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  img {
    height: 26px;
    display: block;
  }
}
