@use "variables" as *;
$radius: 10px;

*::before,
*::after {
  box-sizing: border-box;
}

.header {
  background-color: $primary;
  height: $header-height;
  width: 100%;
  display: flex;
  align-items: center;
}

.nav {
  width: 100%;
  height: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.logo-div {
  width: 20%;
  background-image: url("/assets/icons/CoffeeLogo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  height: 38px;
}

.logo-link {
  display: inline-block;
  cursor: pointer;
}

.search-div {
  width: 50%;
}

.search {
  margin: 0;
  justify-self: center;
  width: 100%;
  max-width: 320px;
  position: relative;
}

.search input {
  width: 100%;
  height: 40px;
  padding: 0 44px 0 16px;
  border-radius: $radius;
  border: none;
  outline: none;
  background: $bg_color;
  color: $primary;
  opacity: 50%;

  &:hover,
  &:focus {
    opacity: 70%;
  }

  &::placeholder {
    color: $primary;
  }
}

.searchBtn {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
}

.search button img {
  width: 25px;
  height: 25px;
  display: block;
}

.bag-div {
  width: 20%;
}

.cart {
  justify-self: end;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;

  img {
    height: 26px;
    display: block;
  }
}

@media (max-width: 950px) {
  .logo-div {
    background-image: url("/CoffeeLogo-small.svg");
  }
}
