@use "reset" as *;
@use "variables" as *;

.shop {
  width: 100%;
  background-color: $bg_color;
  padding: $padding-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.allproducts {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productcard {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.imgdiv {
  background-color: $img_backdrop;
  border-radius: 5px;
}

.infodiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: $padding-sm;
}

.textdiv {
  padding: $padding-sm;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .producttitle {
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
  }

  .productprice {
    font-family: $fontFamily;
    font-size: 18px;
    margin: 0;
  }
}

.cartbtn {
  width: 55px;
  height: 55px;
  background-color: $primary_button_bg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);

  .cartimg {
    width: 38px;
    height: 38px;
  }

  &:hover {
    background-color: $primary_button_hover;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.backtostart {
  width: 180px;
  height: 40px;
  background-color: $primary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    background-color: $primary_button_hover;
    color: white;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.linkreset {
  text-decoration: none;
}
