@use "reset" as *;
@use "variables" as *;

.shop {
  width: 100%;
  background-color: $bg_color;
  padding: $padding-lg;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.allproducts {
  width: 80%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.productcard {
  width: 260px;
  display: flex;
  flex-direction: column;
}

.imgdiv {
  background-color: $img_backdrop;
  border-radius: 5px;
  cursor: pointer;
}

.infodiv {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: $padding-sm;
}

.textdiv {
  padding: $padding-sm;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .producttitle {
    font-family: $fontFamily;
    font-size: 18px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0;
    cursor: pointer;
  }

  .productprice {
    font-family: $fontFamily;
    font-size: 18px;
    margin: 0;
  }
}

.cartbtn {
  width: 55px;
  height: 55px;
  background-color: $primary_button_bg;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  box-shadow: $box-shadow;
  transition: $transition;

  .cartimg {
    width: 38px;
    height: 38px;
  }

  &:hover {
    background-color: $primary_button_hover;
    box-shadow: $box-shadow, $inset;
  }
}

.backtostart {
  width: 180px;
  height: 40px;
  background-color: $primary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: $box-shadow;
  transition: $transition;
  cursor: pointer;
  margin-bottom: $margin-xlg;

  &:hover {
    background-color: $primary_button_hover;
    color: $bg_color;
    box-shadow: $box-shadow, $inset;
  }
}

.linkreset {
  text-decoration: none;
}

//productPage
.productPage {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70rem;
  height: 600px;
  box-shadow: $box-shadow;
  background-color: $productInfo;
  border-radius: 5px;
  z-index: 1000;
}

.contentWrapper {
  // Allt innehåll
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-items: center;
}

.bigImgContainer {
  // vänster kolumn
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  // big img container
  .bigImgBox {
    width: 380px;
    height: 300px;
    background-color: $img_backdrop;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: $box-shadow;
    // big img
    .bigImg {
      width: 231px;
      height: auto;
    }
  }
}

// small imges container
.small-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 400px;
  // ALL small images
  .smallImgLeftBox,
  .smallImgCenterBox,
  .smallImgRightBox {
    width: 120px;
    height: 120px;
    border-radius: 5px;
    background-color: $img_backdrop;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: $box-shadow;
  }
}

// höger kolumn
.productContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
// text Container
.textContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  margin: 5rem;
  h2,
  p {
    margin-left: -5rem;
  }
}
// textinformation style
.productContainer p strong {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  margin-top: 3rem;
}

.productContainer p .price {
  font-size: 1.5rem;
  font-weight: bold;
  display: block;
  line-height: 1.2;
  margin-top: 0.3rem;
}
// container inputfält + icon varukorg
.quantityContainer {
  display: flex;
  margin-top: -33px;
  // input #id
  #quantityProducts {
    height: 50px;
    width: 14rem;
    background-color: $img_backdrop;
    border: none;
    box-shadow: $box-shadow;
    border-radius: 5px;
  }
}

.quantityContainer > .cartbtn {
  height: 50px;
}

// close button

.closeButton {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: $productInfo;
  border: none;
  color: black;
  font-size: 20px;
  cursor: pointer;
}

//arrows
input[type="number"]::-webkit-inner-spin-button {
  opacity: 1;
  height: 30px;
}

@media screen and (max-width: $tablet_breakpoint) {
  .productPage {
    width: 80%;
    padding: $padding-lg;

    .contentWrapper {
      display: flex;
      flex-direction: column;

      .bigImgContainer {
        height: 50%;

        .bigImgBox {
          height: 70%;
          width: 320px;

          .bigImg {
            width: 200px;
          }
        }

        .small-container {
          height: 30%;

          .smallImgLeftBox,
          .smallImgCenterBox,
          .smallImgRightBox {
            width: 100px;
            height: 100px;
          }
        }
      }
    }

    .productContainer {
      flex-direction: row;
      align-items: center;

      .quantityContainer {
        #quantityProducts {
          width: 3rem;
        }
      }
    }
  }
}

@media screen and (max-width: 630px) {
  .productPage {
    width: 80%;
    padding: $padding-lg;

    .contentWrapper {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .bigImgContainer {
        height: 50%;

        .bigImgBox {
          height: 70%;
          width: 80%;

          .bigImg {
            width: 80%;
            height: auto;
          }
        }

        .small-container {
          height: 30%;
          width: 80%;

          .smallImgLeftBox,
          .smallImgCenterBox,
          .smallImgRightBox {
            width: 30%;
            height: auto;

            img {
              width: 80%;
              height: auto;
            }
          }
        }
      }
    }

    .productContainer {
      flex-direction: column;
      align-items: center;
      height: 50%;

      .textContainer {
        width: 80%;
        height: 70%;
        margin: 0;
        h2 {
          margin-left: 0;
          font-size: 1em;
        }
        p {
          margin-left: 0;
          font-size: 0.8em;

          strong {
            font-size: 1.2em;
          }

          .price {
            font-size: 1.4em;
          }
        }
      }

      .quantityContainer {
        height: 30%;
        margin-top: 1rem;
        #quantityProducts {
          width: 3rem;
        }
      }
    }
  }
}
