@use "variables" as *;
@use "reset" as *;

.buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: auto;
  padding: $padding-md;
}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

.basket {
  border: 1px solid $cart_bg_color;
  padding: $padding-lg;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid $cart_bg_color;
  padding: $padding-lg;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 550px;

  label {
    padding-top: $padding-sm;
  }

  input {
    background-color: $secondary;
    border: none;
    border-bottom: 2px solid $cart_bg_color;
    padding: $padding-sm;

    &:hover,
    &:focus {
      background-color: $img_backdrop;
    }
  }
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 550px;

  .payment-method {
    border: 1px solid $cart_bg_color;
    padding: $padding-md;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    height: 100px;
    width: 100%;

    .clickable {
      cursor: pointer;
    }

    .payment-img {
      width: 80px;
    }

    &:hover {
      background-color: $secondary;
    }
  }
}

.buybtn {
  width: 180px;
  height: 40px;
  background-color: $primary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    background-color: $primary_button_hover;
    color: white;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  a {
    text-decoration: none;
    color: $primary;
  }
}

.keepshoppingbtn {
  width: 180px;
  height: 40px;
  background-color: $secondary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:hover {
    background-color: $secondary_button_hover;
    color: white;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
  }
}

.modal {
  background-color: $bg_color;
  border: 2px solid $secondary;
  padding: $padding-lg;

  .modaldiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: $padding-lg;
  }

  .confirmation {
    text-align: center;
  }

  .closepopup {
    width: 180px;
    height: 40px;
    background-color: $secondary_button_bg;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    cursor: pointer;

    &:hover {
      background-color: $secondary_button_hover;
      color: white;
      box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3), inset 0 2px 4px rgba(0, 0, 0, 0.3);
    }
  }
}
