@use "variables" as *;
@use "reset" as *;

.buy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 80%;
  margin: auto;
  padding: $padding-md;
}

h1 {
  color: $primary;
}

h2,
h3 {
  margin: 0;
  color: $primary;
}

.basket {
  border: 1px solid $cart_bg_color;
  padding: $padding-lg;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  border: 1px solid $cart_bg_color;
  padding: $padding-lg;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 550px;

  label {
    padding-top: $padding-sm;
  }

  input {
    background-color: $secondary;
    border: none;
    border-bottom: 2px solid $cart_bg_color;
    padding: $padding-sm;
    transition: $transition;

    &:hover,
    &:focus {
      background-color: $img_backdrop;
    }
  }
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  max-width: 550px;

  .payment-method {
    border: 1px solid $cart_bg_color;
    padding: $padding-md;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    height: 100px;
    width: 100%;
    transition: $transition;

    .clickable {
      cursor: pointer;
    }

    .payment-img {
      width: 80px;
    }

    &:hover {
      background-color: $secondary;
    }
  }
}

.buylink {
  text-decoration: none;
  color: $primary;
}

.buybtn {
  width: 180px;
  height: 40px;
  background-color: $primary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: $box-shadow;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $primary_button_hover;
    color: $bg_color;
    box-shadow: $box-shadow, $inset;
  }
}

.keepshoppingbtn {
  width: 180px;
  height: 40px;
  background-color: $secondary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: $box-shadow;
  transition: $transition;
  cursor: pointer;

  &:hover {
    background-color: $secondary_button_hover;
    color: $bg_color;
    box-shadow: $box-shadow, $inset;
  }
}

.modal {
  background-color: $bg_color;
  border: 2px solid $secondary;
  padding: $padding-lg;

  .modaldiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: $padding-lg;
  }

  .confirmation {
    text-align: center;
  }

  .closepopup {
    width: 180px;
    height: 40px;
    background-color: $secondary_button_bg;
    font-size: $fontSize;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    box-shadow: $box-shadow;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background-color: $secondary_button_hover;
      color: $bg_color;
      box-shadow: $box-shadow, $inset;
    }
  }
}
