@use "variables" as *;
@use "reset" as *;

.buy {
  width: 100%;
  padding: $padding-md;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.basket {
  border: 1px solid $cart_bg_color;
  padding: $padding-md;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.form-row-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width: 100%;
  }
}

.form-row-2 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width: 100%;
  }
}

.form-row-3 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width: 100%;
  }
}

.form-row-4 {
  display: flex;
  flex-direction: row;
  gap: 10px;

  input {
    width: 100%;
  }
}

.payment {
  display: flex;
  flex-direction: column;
  gap: 10px;

  .payment-method {
    border: 1px solid $cart_bg_color;
    padding: $padding-md;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    height: 100px;

    .clickable {
      cursor: pointer;
    }

    .payment-img {
      width: 80px;
    }
  }
}

.buybtn {
  width: 180px;
  background-color: $primary_button_bg;
  font-size: $fontSize;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
