// font
$fontFamily: "Istok Web", Arial, sans-serif;
$fontSize: 16px;

// colors
$primary: #2d221e;
$secondary: #dccbb6;
$bg_color: #f4ede2;
$cart_bg_color: #b68a63;
$primary_button_bg: #6f7f3a;
$secondary_button_bg: #dccbb6;

$primary_button_hover: #515d2a;
$secondary_button_hover: #8c3a2b;

// padding, margin... har bara skapat ungefär kan ändras
$margin-sm: 0.5rem;
$margin-md: 1rem;
$margin-lg: 1.5rem;

$padding-sm: 0.5rem;
$padding-md: 1rem;
$padding-lg: 1.5rem;

$line-height: 1.5rem;
$button-size: 3rem;

// breakpoints
$tablet_breakpoint: 990px;
$desktop_breakpoint: 1200px;
